@import "mocha.css";

* {
  font-family: Ubuntu Nerd Font;
  font-size: 16px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
}

#window {
  color: #ffffff;
  background-color: rgba(0,0,0,0.2);
  margin: 5px;
  padding: 5px 10px;
  border-radius: 1rem;
  border: 2px solid #85c1dc;
}

#workspaces,
#tray,
#custom-music,
#backlight,
#pulseaudio,
#battery,
#clock,
#custom-lock,
#custom-power {
  background-color: rgba(50,50,68,0.8);
}

#workspaces {
  margin: 5px;
  border-radius: 1rem;
}

#workspaces button {
  color: @sky;
  padding: 0px 5px;
  border-radius: 1rem;
}

#workspaces button.active {
  color: @green;
}

#tray {
  margin: 5px;
  padding: 0px 10px;
  border-radius: 1rem;
}

#custom-music {
  color: @pink;
  margin: 5px;
  padding: 0px 10px;
  border-radius: 1rem;
}

#backlight {
  color: @yellow;
  margin: 5px 0 5px 5px;
  padding: 0 8px 0 10px;
  border-radius: 1rem 0 0 1rem;
}

#pulseaudio {
  color: @maroon;
  margin: 5px 0 5px 0;
  padding: 0px 8px;
}

#battery {
  color: @green;
  margin: 5px 0 5px 0;
  padding: 0px 8px;
}

#battery.charging {
  color: @green;
}

#battery.warning {
    color: @peach;
}

#battery.critical {
    color: @red;
}

#clock {
  color: @blue;
  margin: 5px 5px 5px 0;
  padding: 0 10px 0 8px;
  border-radius: 0 1rem 1rem 0;
}

#network {
  color: @sapphire;
  margin: 5px 0 5px 5px;
  padding: 0 8px 0 10px;
  border-radius: 1rem 0px 0px 1rem;
}

#bluetooth {
  color: @teal;
  margin: 5px 5px 5px 0;
  padding: 0 10px 0 8px;
  border-radius: 0px 1rem 1rem 0px;
}

#custom-lock {
  color: @lavender;
  margin: 5px 0 5px 5px;
  padding: 0 8px 0 10px;
  border-radius: 1rem 0px 0px 1rem;
}

#custom-power {
  color: @red;
  margin: 5px 5px 5px 0;
  padding: 0 10px 0 8px;
  border-radius: 0px 1rem 1rem 0px;
}
